.info {
  &__container {
    padding: 1rem;
    background-color: var(--semi-gray);
    border-radius: 1rem;
    box-shadow: var(--block-shadow);
  }

  &__row:nth-child(even) {
    background-color: var(--gray);
  }

  &__row:not(:nth-last-child(1)) {
    border-bottom: 1px solid var(--dark-gray);
  }

  &__header,
  &__data {
    padding: 0.5rem;
    text-align: left;
  }

  &__header:nth-child(even),
  &__data:nth-child(even) {
    width: 60%;
  }

  &__header:nth-child(odd),
  &__data:nth-child(odd) {
    width: 40%;
  }

  &__header {
    font-weight: 500;
    width: 50%;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }
}

.info__data {
  & p:not(:nth-child(1)) {
    margin-top: 0.5rem;
  }

  & p,
  & li {
    word-break: break-word;
  }

  & li {
    margin-top: 0.5rem;
  }

  & ul,
  & ol {
    list-style-position: inside;
  }
}
