.details {
  &__container {
    padding: 1rem;
    background-color: var(--semi-gray);
    border-radius: 1rem;
    box-shadow: var(--block-shadow);
  }

  &__table {
    width: 100%;
  }

  &__data {
    padding: 10px 0;
  }

  &__data:nth-child(1) {
    width: 30%;
  }

  &__data:nth-child(2) {
    width: 70%;
  }
}
